[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/acumos-gerrit-common-dataservice-committers
	owner = group saml/acumos-gerrit-common-dataservice-committers
	read = group GitHub Replication
[project]
	description = Acumos Common Data Service
[receive]
	maxObjectSizeLimit = 5M
